html{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
}

#external-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    width: 600px;
    height: 700px;
    border-radius: 10px;
    box-shadow: rgb(92, 90, 90);

}
p{
    align-items: center;
}

textarea{
    display: flex;
    align-self: center;
}

label{
    align-items: center;
    padding: 0px;
}
#name-form{
    width: 300px;
}
#email-form{
    width: 300px;
    margin-left: 65px;
}

hr{
    margin-top: 20px;
    color: black;
}

button{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #5995da;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}

button:hover{
    background-color: #76aeed;
}
button:active{
    background-color: #407fc7;
}