
html{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
}

#external-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d2d3d3;
    width: 600px;
    height: 750px;
    border-radius: 10px;
}
p{
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

textarea{
    display: flex;
    align-self: center;
}

#name-form{
    width: 300px;
}
#email-form{
    width: 300px;
    margin-left: 65px;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

button{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3183e0;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}

button:hover{
    background-color: #76aeed;
}
button:active{
    background-color: #407fc7;
}