/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 10px;
}

article {

}

h1 {

}

h2 {

}

img {
	max-width: 100%;
}

main {

}

section {

}

figure {
	margin: 15px;
}

figcaption {
  font-size: .8em;
}

p{
  font-size: 20px;
}

h1{
  font-size: 28px;
}

@media screen and (min-width:800px){
  section{
    width: 90vw;
    display: flex !important; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  body{
    background-color: yellow;
    font-size: 13px;
    margin: 20px;
  }
}