
body{
  text-align: center;
  width: 670px;
}

h1{
  margin-left: 50px;
}

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    width: 200px;
    margin-left: 210px;
    display: block;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
  }

  li{
  
    list-style-type: none;
  }



  .premiacao li{
    display: inline-block;
    text-align:  center;
  }
  
