  p,.background_color{
            background-color: yellowgreen;
        }

        body{
            font-size: 16px;
        }

        p{
            font-weight: 600;
            font-size: 3em;
        }
        h1{
            size: 65px;
            color: orange;
            font-family: sans-serif;
        }
        
        lo{
            background-color: blue;
        }

        #amarelo{
            background-color: yellow;
        }
        #vermelho{
            background-color: red;
        }
        #marrom{
            background-color: brown;
        }
