html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: gray;
}


.container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 90vh;
    display: grid;
    grid-template-rows: 50rv,50px,200px;
    grid-template-areas: 'header-class','nav-class','main-class';
    gap: 10px;
    padding: 15px;
    margin-top: 20px;
    background-color: white;
    align-content: flex-start;
}

main{
    border: solid 3px;
    height: 95%;
    overflow-y: auto;
    padding-left: 30px;
    padding: 15px;
    padding-bottom: 10px;
}

.div-button{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    display:flex ;
    justify-content: center;
    padding: 1px;
    
    background-color: black;
    border: solid 3px black;
}

.div-font-button{
    width: 35px;
    height: 35px;
    margin: 10px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    justify-items: center;

    padding: 1px;
    background-color: black;
}

h6{
    color: aliceblue;
    float: left;
    align-self: center;
    font-size: 12px;
}

#p-inicial{
    line-height: 20px;
    font-size: 10px;
}

.div-button p {
    align-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

#div-test-font{
    background-color: aqua;
}

nav{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    background-color: cadetblue;
    width: 800px;
    height: 55px;
}

.header-class{
    display: flex;
    justify-content: center;
}

